table {
    margin: auto;
}
tr, th, td {
    padding-top: 20px;
    text-align: center;
}
.filter-container {
    display: flex;
    align-items: center;
}
.filter-container > * {
    margin: 1em;
}
.reset-filter-btn {
    height: fit-content;
}

.header-cell {
    font-size: 16px;
    color: black;
}
.row-cell {
    font-size: 15px;
}