@import '../../@shared/palette.scss';

#summary-page {
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
}

.ascending-sorted, .descending-sorted, .unsorted {
    display: inline-block;
}

.ascending-sorted:hover, .descending-sorted:hover, .unsorted {
    color: black;
    cursor: pointer;
}

.ascending-sorted::after {
    font-family: "Material Icons";
    content: " \e5db";
    position: absolute;
    padding-left: 0.2em;
}
.descending-sorted::after {
    font-family: "Material Icons";
    content: " \e5d8";
    position: absolute;
    padding-left: 0.2em;
}
.unsorted::after {
    font-family: "Material Icons";
    content: " \e25d";
    position: absolute;
    padding-left: 0.2em;
}

table {
    margin: auto;
}
tr, th, td {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-container {
    display: flex;
    align-items: center;
}
.filter-container > * {
    margin: 1em;
}
.reset-filter-btn {
    height: fit-content;
}

.header-cell {
    font-size: 16px;
    color: black;
}
.row-cell {
    font-size: 15px;
}